name: "Check Markdown"

on:
  push:
    branches: [ 'main' ]
    paths:
      - "**/*.md"
      - ".github/workflows/check-markdown.yml"
  pull_request:
    branches: [ 'main' ]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Run Markdownlint
        run: |
          npm i
          npx markdownlint-cli2 "BunsenBurner*/**/*.md" "BunsenBurner.Docs/**/*.md" "*.md" "!LICENSE.md"
